# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/misc.xml
/modules.xml
/inspectionProfiles/profiles_settings.xml
/upc-pre-202510-1asi0572-2956-SevenSync-Edge-Application.iml
/vcs.xml
